body {
  background-color: #fbfbfb;
  font-family: proxima-nova, sans-serif !important;
  font-weight: 200; }

h1 {
  font-weight: 200;
  font-family: proxima-nova, sans-serif !important;
  margin: 0;
  padding: 0; }

p {
  font-weight: 200;
  font-family: proxima-nova, sans-serif !important;
  color: #7b7b7b; }

.l-box {
  padding: 1em; }

.container {
  max-width: 980px;
  margin: 0 auto; }

.header {
  margin-top: 2em;
  margin-bottom: 2.5em; }
  .header h1.header_under {
    margin-top: 0.4em; }

span.title_suppliment {
  margin-left: 1.4em;
  color: #aeaeae; }

.blog-item {
  margin-bottom: 0.8em; }
  .blog-item h1 {
    font-size: 170%; }
