$bgColour: #fbfbfb;
$contentWidth: 980px;

$primaryFont: proxima-nova, sans-serif;
$primaryFontWeight: 200;

$mobile: "(max-width: 860px)";
$desktop: "(min-width: 1024px)";

body {
    background-color: $bgColour;
    font-family: $primaryFont !important;
    font-weight: $primaryFontWeight;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

.mobile_only {
    display: none;
}

h1 {
    font-weight: $primaryFontWeight;
    font-family: $primaryFont !important;
    margin: 0;
    padding: 0;
}

p {
    font-weight: $primaryFontWeight;
    font-family: $primaryFont !important;
    color: #7b7b7b;
}

.l-box {
    padding: 1em;
}

.container {
    max-width: $contentWidth;
    margin: 0 auto;
}

.header {
    margin-top: 2em;
    margin-bottom: 2.5em;

    h1.header_under {
        margin-top: 0.4em;
    }

}

span.title_suppliment {
    margin-left: 1.4em;
    color: #aeaeae;
}

.blog-item {
    margin-bottom: 0.8em;

    h1 {
        font-size: 170%;
        display: inline;

        &:hover {
            border-bottom: 1px dotted;
            cursor: pointer;
            cursor: hand;
        }
    }
}

pre {

    code {
        font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
        font-size: 80%;
        max-width: 80%;
        margin-bottom: 10px;
        overflow: auto;
        padding: 5px;
        background-color: #eee;
        max-height: 600px;
        line-height: 24px;
    }
}


@media #{$mobile} {
    h1 {
        font-size: 150%;
    }

    h1.header_under {
        span.sep {
            display: none;
        }

        span.second {
            display: block;
        }
    }

    span.title_suppliment {
        margin-left: 0;
        margin-bottom: 1em;
        display: block;
    }
    .mobile_only {
        display: inherit;
    }
    .desktop_only {
        display: none;
    }
}
